body,html {
    padding: 0.1vw;
    font-family: "Georgia","Arial", sans-serif;
    /* font-size: 14px;
    line-height: 18px; */
    /*color: white;*/
    /*background: #ffffff url("../img/zvezda1.svg") no-repeat 50% 0;*/
    /*background-color: #2c3e50;*/ 
    margin: 0.1vw;
    background-color:silver;
  }
input {
    width: 5vw;
}
.search {
    margin: 0.1vw;
}

.result {
    display: table;
}

.result ul {
    display: table-row;
  
}

.result li {
    display: table-cell;
    padding: 0.5vw;
    background-color: #83c5ff;
}

.result h2 {
    display: table-caption;
}

.result header {
    display: table-header-group;
    
}

.column1 {
    display: table-column;
    width: 25vw;
    
}

.column2 {
    display: table-column;
    width: 65vw;
    
}


.baseresult li {
    
    width: 5vw;
    color: black;
    border: 0.2vw solid #cccccc;
}

a {
	padding: 0.1vw 0.1vw;
	text-decoration: none;
	-moz-appearance: button; 
	-webkit-appearance: button;	
}


.resu {
  position: absolute;
  right: 10vw;
}

