@charset "utf-8";
/* CSS Document */
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font-family: Aral, Helvetica, sans-serif;
    text-align: center;
}

.vgroup {
    display: flex;
    position: absolute;
    max-height: 37vw;
    width: 12vw;
    flex-wrap: wrap;
    padding: 1vw 1vw;
    margin: 1vw 1vw;
    /* margin: 0 auto;
    padding: 0 auto; */
    overflow-y: auto;
    top: 4vw;
    
    /* white-space: wrap; */
}

.scene {
        display: flex;
        position: absolute;
        width: 70vw;
        height: 40vw;
        /* width: 700px;
        height: 500px; */
        background-color: lightgrey;
        align-items: center;
        justify-content: center;
        /* overflow: hidden; */
        left: 16vw;
        top: 4vw;
        /* z-index: 100; */
        border: 0.1vw solid red;
    }
    
    
.setup {
        
        position: absolute;
        /* display: block; */
        /* position: sticky; */
        
        cursor: pointer;
        /* height: 600px; */
        width: 70vw;;
        
        height: 40vw;
        background-color: blue;
        opacity: 0.7;
        /* max-width: 30px; */
        /* transform-origin: 350px 250px; */
        /* transform-origin: 0 0; */
}

a {
    text-decoration: none;
    font-size: 0.75rem;
    display: inline-block;
    
    /* pointer-events: none;  */
    /* cursor: default;  устанавливаем курсор в виде стрелки
     */
    
}
/* b {
    display: block;
    padding: 10px;
} */
/* button {
    padding: 5px 10px;
} */

.small {
    width: 8vw;
    /* max-width: 300px; */
    margin: 0.5vw 0.5vw;
    display: inline-block;
    height: 8vw;
    /* max-height: 200px; */
}
.menu {
    position: absolute;
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    z-index: 1111;
    background-color: #000000;
  }
  
.menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50px;
    margin: 0 auto;
    padding: 0;
    
    list-style: none;
  }
  

.menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    color: rgb(240, 236, 236);
    
    cursor:pointer;
    background-position:left center;
    background-repeat:no-repeat;
    background-size:40px 40px;
  } 

.inPag {
    width: 2vw;
}  

.arrow {
    position:absolute;
    background-color:rgba(0,0,0,.45)
}
.arrow {
    top:50%;
    left:17vw;
    width:50px;
    height:50px;
    border-radius:100%;
    cursor:pointer;
    margin-top:-25px;
    padding:10px;
    transform:translateX(-100px);
    transition:transform .35s ease-out,opacity .2s ease-out;
    box-sizing:border-box;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:30px 30px;
    opacity:.65;
    background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjI0IiBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cG9seWxpbmUgcG9pbnRzPSIxNSAxOCA5IDEyIDE1IDYiLz48L3N2Zz4=)
}
.arrow-right {
    left: auto;
    right: 15vw;
    transform:translateX(100px) scaleX(-1)
    }
.arrow-left {
    transform:translateX(0)
    }
.arrow-right {
    transform:translateX(0) scaleX(-1)
    }
.arrow:active,.arrow:hover,.icon:active,.icon:hover {
    opacity:1;
    animation:none
    }
.arrow{
    width:35px;
    height:35px;
    margin-top:-17.5px;
    background-size:15px 15px
    }    

.autofit {
    
    /* background-image: url(img/8marta0044.jpg); */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyBoZWlnaHQ9Ijk2cHgiIHZpZXdCb3g9IjAgMCA5NiA5NiIgd2lkdGg9Ijk2cHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggdHJhbnNmb3JtPSJyb3RhdGUoOTAgNTAgNTApIiBmaWxsPSIjZmZmIiBkPSJNNzEuMzExLDgwQzY5LjY3LDg0LjY2LDY1LjIzLDg4LDYwLDg4SDIwYy02LjYzLDAtMTItNS4zNy0xMi0xMlYzNmMwLTUuMjMsMy4zNC05LjY3LDgtMTEuMzExVjc2YzAsMi4yMSwxLjc5LDQsNCw0SDcxLjMxMSAgeiIvPjxwYXRoIHRyYW5zZm9ybT0icm90YXRlKDkwIDUwIDUwKSIgZmlsbD0iI2ZmZiIgZD0iTTc2LDhIMzZjLTYuNjMsMC0xMiw1LjM3LTEyLDEydjQwYzAsNi42Myw1LjM3LDEyLDEyLDEyaDQwYzYuNjMsMCwxMi01LjM3LDEyLTEyVjIwQzg4LDEzLjM3LDgyLjYzLDgsNzYsOHogTTgwLDYwICBjMCwyLjIxLTEuNzksNC00LDRIMzZjLTIuMjEsMC00LTEuNzktNC00VjIwYzAtMi4yMSwxLjc5LTQsNC00aDQwYzIuMjEsMCw0LDEuNzksNCw0VjYweiIvPjwvc3ZnPg==);

}
.zoom-out {
    
    background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjI0IiBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxMSIgY3k9IjExIiByPSI4Ii8+PGxpbmUgeDE9IjIxIiB4Mj0iMTYuNjUiIHkxPSIyMSIgeTI9IjE2LjY1Ii8+PGxpbmUgeDE9IjgiIHgyPSIxNCIgeTE9IjExIiB5Mj0iMTEiLz48L3N2Zz4=);
}
.zoom-in {
    background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjI0IiBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxMSIgY3k9IjExIiByPSI4Ii8+PGxpbmUgeDE9IjIxIiB4Mj0iMTYuNjUiIHkxPSIyMSIgeTI9IjE2LjY1Ii8+PGxpbmUgeDE9IjExIiB4Mj0iMTEiIHkxPSI4IiB5Mj0iMTQiLz48bGluZSB4MT0iOCIgeDI9IjE0IiB5MT0iMTEiIHkyPSIxMSIvPjwvc3ZnPg==);
}

.rotate {
    background-image:url(../img/rot2.svg);
}

.pageDiap {
    display: inline-block;
    position: absolute;
    left: 1vw;
    top: 1vw;
}

.pages{
    display: inline-block;
    position: absolute;
    left: 30vw;
    top: 1vw;
}


.content {
   display: none;
   position: absolute;
   left: 2vw;
   top: 20vw;
} 

label {
    padding: 0.3vw;
    margin: 0.3vw;
}


h3 {
  padding-bottom: 20px;
    box-shadow: 0 1px 0 rgba(0,0,0,.1) ,0 2px 0 rgba(255,255,255,.9);
}

p {
    margin: 0;
    padding: 10px 0;
    color: black;
}

.clear {clear:both;}

/* -----------------------------------------
  =CSS3 Loading animations
-------------------------------------------- */

/* =Elements style
---------------------- */
.load-wrapp {
    float: center;
    width: 6vw;
    height: 6vw;
    margin: 0 1vw 1vw 0;
    padding: 1vw 1vw 1vw;
    border-radius: 0.5vw;
    text-align: center;
    background-color: #d8d8d8;
    
}

.load-wrapp p {padding: 0 0 20px;}
.load-wrapp:last-child {margin-right: 0;}



.ring-1 {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #4b9cdb;
    border-radius: 100%;
}


/* =Animate the stuff
------------------------ */

.load-4 .ring-1 {animation: loadingD 1.5s .3s cubic-bezier(.17,.37,.43,.67) infinite;}


@keyframes loadingD {
    0% { transform: rotate(0deg);}
    50% { transform: rotate(180deg);}
    100% { transform: rotate(360deg);}
}